body {
  background-color: #ffc300;
  color: #581845;
}

.col-md-12 {
  background-color: #ff5733;
  border-radius: 5px;
  width: 499px;
}

.col-md-12 h1 {
  margin: 0;
}

.row {
  margin-top: 16px;
}

.col-md-3 h1 {
  text-align: center;
}

.col-md-9 {
  background-color: #c70039;
  border-radius: 5px;
  text-align: justify;
  font-family: 'Dancing Script', cursive;
}
